---
import Layout from '../layouts/Layout.astro'
---

<Layout title='home'>
  <div class='container lg:flex lg:justify-between'>
    <section
      class='text-white text-center lg:text-left md:max-w-md md:mx-auto lg:mx-0'
    >
      <h1 class='mt-12 md:mt-[106px] lg:mt-[251px]'>
        <span
          class='uppercase tracking-[2.7px] lg:text-[28px] lg:leading-[33.6px] lg:tracking-[4.72] mb-4 md:mb-6 block leading-[19.2px] md:leading-[24px] md:tracking-[3.38px] text-light-blueish-gray'
          >So, you want to travel to</span
        >
        <span
          class='leading-[100px] md:leading-[150px] md:text-[150px] font-bellefair text-[80px] uppercase'
          >Space</span
        >
      </h1>

      <p
        class='text-[15px] lg:text-[18px] lg:leading-[32px] md:text-base md:leading-[28px] leading-[25px] text-light-blueish-gray mt-4 md:mt-6 mb-20 md:mb-[156px]'
      >
        Let&rsquo;s face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind of on the edge of it.
        Well sit back, and ryarn elax because we&rsquo;ll give you a truly out
        of this world experience!
      </p>
    </section>

    <div class='flex justify-center items-center lg:pt-52 md:pb-12 lg:pb-0'>
      <a
        role='button'
        href='/destination'
        class='font-bellefair md:text-[32px] md:leading-[36.67px] md:tracking-[2px] text-dark relative grid aspect-square w-[150px] md:w-[242px] lg:w-[274px] place-items-center rounded-full bg-white text-xl uppercase before:absolute before:-z-[1] before:block before:aspect-square before:w-[100%] before:rounded-full before:bg-white/[0.1] before:transition-[width] before:duration-200 before:content-[""] hover:before:w-[164%]'
      >
        Explore
      </a>
    </div>
  </div>
</Layout>
