---
import Layout from '../layouts/Layout.astro'
---

<Layout title='home'>
  <div class='container'>
    <section class='text-white text-center'>
      <h1>
        <span
          class='uppercase tracking-[2.7px] leading-[19.2px] text-light-blueish-gray'
          >So, you want to travel to</span
        >
        <br />
        <span class='leading-[100px] font-bellefair text-[80px] uppercase'
          >Space</span
        >
      </h1>

      <p class='text-[15px] leading-[25px] text-light-blueish-gray'>
        Let&rsquo;s face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind of on the edge of it.
        Well sit back, and relax because we&rsquo;ll give you a truly out of
        this world experience!
      </p>
    </section>

    <div>
      <a href='#'> Explore</a>
    </div>
  </div>
</Layout>

<style>
  body {
    min-height: 100vh;
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  /* tablet */
  @media only screen and (min-width: 640px) {
    body {
      background-image: url('/assets/home/background-home-tablet.jpg');
    }
  }

  /* laptop */
  @media only screen and (min-width: 1024px) {
    body {
      background-image: url('/assets/home/background-home-desktop.jpg');
    }
  }
</style>
