---
import Layout from '../layouts/Layout.astro'
import Technologies from '../components/technology'
---

<Layout title='technology'>
  <h1>this is the tech page</h1>
  <Technologies client:idle />
</Layout>
